
LayoutDemo/\.idea/

LayoutDemo/build/

LayoutDemo/build/android-profile/

LayoutDemo/app/app\.iml

LayoutDemo/gradle/wrapper/gradle-wrapper\.properties

LayoutDemo/local\.properties

LayoutDemo/\.gradle/

LayoutDemo/build\.gradle

LayoutDemo/app/build\.gradle

LayoutDemo/LayoutDemo\.iml
